@model Amazon.Models.AmzUser

@{
    ViewData["Title"] = "Edit";
}

<h2><font color="Brown">Update User </font></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserRoleId" />
            <input type="hidden" asp-for="UserId" />
             <input type="hidden" asp-for="ActInd" />
            <div class="form-group">
                <label> Name</label>
                <input asp-for="UserNme" class="form-control" />
                <span asp-validation-for="UserNme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Email</label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Phone No</label>
                <input asp-for="UserPhNo" class="form-control" />
                <span asp-validation-for="UserPhNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
